@font-face {
    font-family: myFont;
    src: url("assets/bdCartoonShout.ttf");
  }
  
  @font-face {
    font-family: myNewFont;
    src: url("assets/cocogoose.ttf");
  }
  
  body 
  {
      background-color: #932b1f;
      margin: 0px;
  }
  
  #banner-img {
      content: url("assets/images/pizzaBanner.png");
      width: 100%;
  }
  
  #welcome-section
  {
    text-align: center;
    background-image: url("assets/images/background.jpg");
    color: white;
  }
  
  #welcome-section img
  {
      width: 80%;
  }
  
  
  #welcome-section p
  {
      font-family: myNewFont;
      margin: 10px;
  }
  
  #welcome-Image
  {
      content: url("assets/images/welcomeImage.png");   
  }
  
  #category-section
  {
      background-image: url("assets/images/categoryImage.png");
      background-size: 60% 150%;
      text-align: center;
      font-family: myFont;
  }
  
  #category-section h2
  {
      padding-top:30px;
      color: white;
  }
  
  #category-section h1
  {
      color: #932b1f;
  }
  
  #pizzas img
  {
      width: 20%;
  }
  
  #italian-pizza
  {
      background-image: url("assets/images/italianPizza.png");
      background-size: 100% 100%;
      height: 350px;
  }
  
  #mexican-pizza
  {
      background-image: url("assets/images/mexicanPizza.png");
      background-size: 100% 100%;
      height: 350px;
  }
  
  .heading
  {
      text-align: center;
      color: #f5edf9;
      font-family: myFont;
  }
  
  #customize-pizza
  {
    text-align:center;
    margin-left: 60px;
  }
  
  #customize-pizza-buttons
  {
      float:left;
      text-align: left;
      font-size: 20px;
      width: 50%;
      font-family: myFont;
  }
  
  #pizza-base-toppings-section {
      float: right;
      position:relative;
      margin-right: 50px;
      width: 30%;
  }
  
  
  .pizza-base
  {
      float:right;
      width:auto; 
      max-width:100%; 
      margin-right: -30px;
  }
  
  .topping, #pizza-base2
  {
    position:absolute;
  }
  
  .pizza-topping-class
  {
    float:right;
    width:auto; 
    max-width: 90% !important;
    position: absolute;
    margin-left: 30px;
  }
  
  #pizza-toppings
  {
    width: 100%;
  }
  
  #pizza-toppings label
  {
      float: left;
  }
  
  .topping-button
  {
      width: 150px;
  }
  
  .crust-button
  {
      width: 150px;
  }
  
  .topping-icons
  {
      padding-left: 25px;
      width: 50px;
  }
  
  .hidden
  {
      visibility: hidden
  }
  
  #customize-pizza-buttons p
  {
      color: #f8e49b;
  }
  .check-box
  {
    display: none;
  }
  
  .radio-button
  {
    display: none;
  }
  
  
  #offers
  {
    margin-left: 50px;
    display: inline-block;
    text-align: center;
  }
  
  #offers img 
  {
    width: 40%;
    margin: 10px;
  }
  
  #footer
  {
      display: flex;
      padding:20px;
      align-items: flex-end;
      
      background-color: #202020;
      height:100px;
      color:white;
      justify-content:space-around;
  }
  
  #footer img
  {
    margin: 10px;
  }
  
  .sticky-note
  {
      position: fixed;
      bottom: 0;
      right: 0;
      text-align: center;
      padding: 8px;
      width: 140px;
      border-radius: 10px;
      font-size: 13px;
      /* Set a background color */
      background: lightgrey;
  }
  
  /* Add style for to hide mobile id div */
  #mobile
  {
      display: none;
  }
  
  
  
  @media (max-width: 600px) { 
     #pizzas img 
      {
          width: 40%;
      }
  }
  
  
  
  
  @media (max-width: 480px) {
      body 
      {
          background-color: #f5d165;
      }
      
      /* Add style for to make mobile id div visible also change it's background color */
      #mobile
      {
          background: lightgreen;
          display: block;
      }
  
      /* Add style for to hide desktop id div */
      #desktop
      {
          display: none;
      }
  
  }
  
  @media (max-width: 480px) {
      #banner-img 
      {
          content: url("assets/images/mobilePizzaBanner.png");
      }
  
      #welcome-section img
      {
          width: 100%;
      }
  
      #pizzas img 
      {
          width: 80%;
      }
  
  
      #category-section 
      {
          background-image: url("assets/images/mobileCategoryImage.png");
          background-size: 100% 100%;
      }
  
  
      #italian-pizza
      {
          background-image: url("assets/images/mobileItalianPizza.png");
          height: 300px;
      }
      
  
      #mexican-pizza
      {
          background-image: url("assets/images/mobileMexicanPizza.png");
          height: 300px;
  
      }
      
      #pizza-base-toppings-section
      {
          width: 90%;
      }
  
      #customize-pizza{
          margin-left: 20px;
      }
      
      #customize-pizza-buttons{
          width: 100%;
      }
      
      .topping-button
      {
          width: 80px;
      }
      
      .crust-button
      {
          width: 120px;
      }
      
      .topping-icons
      {
        width: 30px;
        padding-left: 5px;
      }
  
      #offers{
          margin-left: 0px;   
      }
  
      #offers img {
        width: 80%;
      }
  
      #footer{
          display: block;
          text-align: center;
      }
  
  }
  
  
  
  
  
  
  
  